.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-dark);
}

.input {
  width: 100%;
  height: 54px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
  padding: 14px 16px;
  color: var(--text-dark);
  font-size: 16px;
  background-color: var(--input-color);
}

.input:focus {
  outline: 1px solid var(--secondary-color);
}
