.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 410px;
  height: 54px;
  color: var(--text-dark);
  border: 1px solid var(--input-border);
  border-radius: 4px;
  overflow: hidden;
  background: transparent;
}

.inputWrapper {
  width: 100%;
  text-align: start;
}

.uploadButton {
  padding: 8px 16px;
  border: 1px solid var(--text-dark);
  border-radius: 4px;
  background: var(--text-white);
  height: 52px;
  cursor: pointer;
}

.uploadButton:hover {
  background: transparent;
}

.uploadButton:focus {
  outline: 1px solid var(--secondary-color);
}

.placeholder {
  flex: 1;
  padding: 8px 12px;
  color: var(--input-placeholder);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hiddenInput {
  display: none;
}
